<div ng-init="init();">
    <div class=container>
    	<div class="pnl-perfil">
    		<h1>Conócenos</h1>
    		<div class="row" style="margin-bottom: 40px;">
    			<div class="col-sm-4">
    				<img src="images/Master_Francisco_Javier_Elvira_Guinda.jpg" width="100%">
    			</div>
    			<div class="col-sm-8">
    				<p>In Memoriam a</p>
                    <h3>Master Francisco  Javier Elvira Guinda</h3>
                    <p>Estudió la Licenciatura en Historia por la Universidad Nacional Autónoma de México, en la ENEP Acatlán (ahora FES Acatlán) y la Maestría en Estudios Humanísticos por la Universidad Virtual del Tecnológico de Monterrey, CEM.</p>

                    <p>Fue profesor de planta del departamento de Ciencias Sociales y Humanidades de la preparatoria del Campus Estado de México desde el 2004 hasta el 2018, en donde impartió clases a alumnos de los 3 programas académicos (Bilingüe/Bicultural, Multicultural e Internacional). En el año 2015 fue merecedor al Borrego de Oro en el rubro de mejor Profesor Planta de la Escuela Nacional Preparatoria.</p>

                    <p>Sus alumnos siempre lo definieron como “un excelente profesor“, “el profesor más impactante de mi vida”, “un profesor que articula adecuadamente la pasión por lo que hace, lo que enseña y por la dimensión humana de sus alumnos”, “un profesor muy divertido que no sólo domina el tema sino que despierta un interés genuino por la historia”, “un profesor inspirador que literalmente transformó mi vida”.</p>

                    <p>Fue participante del proyecto NOVUS para la elaboración de <i>Living Books</i> de la rectoría de la Ciudad de México.</p>

                    <p>Integrante del proyecto NOVUS Elaboración de <i>papers</i>s de investigación para la divulgación y actualización del conocimiento histórico dirigido a los alumnos de preparatoria, 2015.Fue iniciador del proyecto NOVUS <b>Centro de Recursos Educativos Digitales para el Estudio de las Ciencias Sociales de Preparatoria (MERÍDIO). App.  2017.</b></p>
    			</div>
    		</div>

            <div class="row" style="margin-bottom: 40px;">
                <div class="col-sm-4">
                    <img src="images/MATI_Roberto_Sobrado_Taymani.jpg" width="100%">
                </div>
                <div class="col-sm-8">
                    <h3>MATI. Roberto Sobrado Taymani</h3>
                    <p>Es profesor de la PrepaTec en el Estado de México.</p>
                    
                    <p>Es Licenciado en Sistemas Computacionales por la Universidad Mexicana y Maestro en Administración de Tecnologías de Información por el Tecnológico de Monterrey.</p>

                    <p>Cuenta con más de 35 años de experiencia en el desarrollo de sistemas de información. Durante su vida profesional ha sido consultor y desarrollador para empresas multinacionales y entidades gubernamentales, es coautor del libro Introducción a las Tecnologías de Información publicado por Jet Press en 2014 y coautor de los  eBook Creatividad y Diseño Digital, y Expresión Digital editados por la Editorial Digital del Tecnológico de Monterrey.</p>

                    <p>Imparte las materias Creatividad y Diseño Digital, Expresión Digital, Pensamiento Lógico Computacional, y Diseño y Desarrollo de Aplicaciones a nivel preparatoría.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    &nbsp;
                </div>
                <div class="col-sm-8">
                    <h3>Master Corina Guadalupe Chávez Martínez</h3>
                    <p>Es profesora de planta del Departamento de Ciencias Sociales y Humanidades de la Preparatoria CEM, desde el año 2000 a la fecha.</p>

                    <p>Estudio la Licenciatura en Historia en la ENEP Acatlán (ahora FES Acatlán) de la UNAM, y la Maestría en Historia de México por la Facultad de Filosofía y Letras de la UNAM.</p>

                    <p>Fue participante en el proyecto NOVUS para la elaboración de <i>eBooks</i>.</p>

                    <p>Miembro del Comité Académico para la elaboración de los planes de estudios de Sociedad Contemporánea Siglo XIX y Sociedad Contemporánea Siglo XX.</p>

                    <p>Participante del proyecto NOVUS para la elaboración de <i>Living Books</i> de la Rectoría de la Ciudad de México.</p>

                    <p>Líder del proyecto NOVUS Elaboración de <i>papers</i> de investigación para la divulgación y actualización del conocimiento histórico dirigido a los alumnos de preparatoria, en el 2015.</p>

                    <p>Líder del proyecto NOVUS <b>Centro de Recursos Educativos Digitales para el Estudio de las Ciencias Sociales de Preparatoria (MERÍDIO). App. 2017.</b></p>


                    <br><br><br>
                    
                </div>
            </div>
    	</div>
    </div>
</div>