<div ng-init="init();">
    <div class=container>
    	<div class="pnl-perfil">
    		<h1>Conócenos</h1>
    		<div class="row">
    			<div class="col-sm-4">
    				<img src="http://via.placeholder.com/320x400">
    			</div>
    			<div class="col-sm-8">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis turpis at justo maximus vehicula. Cras sed erat magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque metus nisi, viverra ac ullamcorper sed, maximus nec nibh. Praesent sed scelerisque massa, et volutpat eros. Etiam vehicula feugiat augue sit amet accumsan. In eu egestas ex, at tincidunt neque. Quisque feugiat erat sed diam sagittis, in vestibulum tellus sagittis. Duis eget urna lorem. Nam eu auctor quam, hendrerit venenatis arcu. Vestibulum ullamcorper eu enim eu feugiat. Curabitur condimentum porttitor consequat.</p>

					<p>In congue sodales mollis. Vivamus consequat velit eget neque porttitor lobortis. Aliquam a est non dolor pulvinar blandit commodo quis turpis. Donec eu lectus a quam lacinia dignissim. Aenean sit amet sem lorem. Morbi quis molestie arcu. Donec rutrum vel ante quis finibus. Curabitur pharetra turpis at metus malesuada posuere. Nulla eu ex a urna bibendum faucibus. Morbi ac ultricies lacus. Maecenas egestas nec arcu hendrerit bibendum. Aliquam eu odio vel augue sollicitudin accumsan. Mauris nec consectetur tortor. Morbi ut quam et purus dignissim sagittis sit amet sit amet sapien. Quisque eget placerat risus. In vel sem nulla.</p>

					<p>Ut sed diam pretium, auctor arcu vulputate, aliquet lorem. Nullam sit amet ex nec dui molestie cursus. Mauris ut pulvinar mauris. Nulla facilisi. Aenean volutpat sollicitudin bibendum. Vestibulum et ullamcorper lorem. Quisque lacinia dictum lectus nec hendrerit. Fusce accumsan, turpis a lobortis luctus, sapien nulla iaculis metus, at molestie mi nisi nec dolor. Proin semper turpis nunc, non tincidunt nunc lobortis vel. Fusce aliquet sagittis ex. Aenean eu lacus sit amet lacus pretium pretium. Maecenas erat mi, convallis a dolor eget, dignissim vulputate lacus.</p>
    			</div>
    		</div>
    	</div>
    </div>
</div>