<div ng-init="init();">
    <div class=container>
    	<div class="pnl-perfil">
            <br><br>
    		<div class="row">
                <div class="col-sm-12">
                    <center>
                        <h3>Descargar Merídio para Android</h3>
                        <p>Para instalar esta versión es necesario activar la opción de <b>Apps de origen desconocido</b> en tu dispositvo Android.</p>
                        <br><br><br>
                        <a href="https://drive.google.com/file/d/10NOcyaj-pPovzkSGK6_soT_uQjL0dGrF/view?usp=sharing">
                            <img src="images/android-black.png" width="250">
                        </a>
                    </center>

                    <br><br><br><br><br><br><br><br>
                </div>
                <div class="col-sm-3"></div>
    			<div class="col-sm-6">
                    <center>
                    <h4><b>Permitir plicaciones de origen desconocido</b></h4>
                    <p>Tan sólo tenemos que dirigirnos al menú de <b>Ajustes</b> y entrar en las opciones de <b>Seguridad</b>, y ahí activamos la pestaña de <b>Permitir aplicaciones de origen desconocido.</b></p><br><br>
                        <img src="images/settings.png" width="100%"><br><br>
                    <p>De esta manera, el dispositivo nos preguntará, si realmente queremos activarlo, puesto que lo dejaremos más vulnerable, seleccionamos <b>Aceptar</b>, y ya tendremos nuestro dispositivo, listo para instalar cualquier archivo <b>*.apk</b></p><br><br>
                        <img src="images/aceptar.png" width="100%"><br><br>
                    <br>
                    <br>
                        <b style="font-size: 18px;">Es muy importante, desactivar esta opción, después de realizar nuestras instalaciones, para que nunca se instale ninguna aplicación, sin nuestro consentimiento.</b>
                        <br><br>
                    </center>
    			</div>
    		</div>
    	</div>
    </div>
</div>