<div ng-init="init();">
    <div class=container>
    	<div class="pnl-perfil">
    		<!-- <h1>Ayuda</h1> -->
            <br><br>
    		<div class="row">
    			<div class="col-sm-3">
    				<center><img src="images/contact-email.png"></center>
    			</div>
    			<div class="col-sm-8">
    				<h1>CONTÁCTANOS</h1>
                    <p><b>MATI. Roberto Sobrado Taymani</b><br>
                    Correo <a href="mailto:rsobrado@itesm.mx">rsobrado@itesm.mx</a><br>
                    Departamento de Matemáticas y TI</p>

                    <br><br>

                    <p><b>Master Corina Guadalupe Chávez Martínez</b><br>
                    Correo <a href="mailto:cgchavez@itesm.mx">cgchavez@itesm.mx</a><br>
                    Departamento de Ciencias Sociales y Humanidades</p>
    			</div>
    		</div>
    	</div>
    </div>
</div>