.frm-login{
	max-width: 290px;
	margin: 0 auto;
}

.header-admin{
	background-color: #0033a0; 
	height: 55px;
	z-index: 1024;
    position: absolute;
    width: 100%;
}

.contenido{
	overflow: hidden;
}

.header-admin .logo{
	margin-top: 7px;
}

.panel-perfil{
	width: 350px;
	margin-top: 10px;
	text-align: right;
}

.per-nombre{
	width: 250px;
	float: left;
	color: white;
	text-align: right;
	margin-top: 10px;
}

.per-user{
	width: 60px;
	float: left;
	text-align: center;
}

.per-user .fa{
	font-size: 35px;
	color: white;
}

.per-angle{
	width: 60px;
	float: left;
}

.per-angle .fa{
	font-size: 40px;
	color: white;
}

.parent-nav{
	list-style-type: none;
	margin-left: -30px;
	z-index: 2048;
}

.active-nav{
	cursor:pointer;
	position: absolute;
    z-index: 1024;
}

.active-nav:hover > .nav{
	display: block;
	/*color: orange;*/
}

.pnl-perfil{
	margin-top: 50px;
	/*margin-left: 100px;*/
	/*font-size: 14px;*/
}

.pnl-perfil table tr{
	height: 35px;
}

.btn-guardar{
	margin-top: 10px;
	margin-right: 10px;
}

.btn-cancelar{
	margin-top: 10px;
}

.input-login{
	width: 250px;
	padding: 5px 5px 3px 0px;
	background: transparent;
	border: none;
	height: 25px;
}

.input-login:focus { outline: none; } 

.input-group{
	background-color: white;
	width: 300px; 
	height: 25px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 10px;
	padding: 3px 0;
	color: #666;
}

.input-group .lbl-login{
	font-weight: 300;
	color: #666;
	font-size: 18px;
	margin-left: 10px; 
	float: left;
	width: 20px;
    margin-bottom: 0px;
}

.btn-block{
	width: 300px;
	background-color: #0033a0 !important;
	color: white; 
}

.logo-tec{
	bottom: 10px;
	margin-top: 30%;
}

.header-icons{
	margin-top: 10px;
}

.burguer-menu{
	color: white;
	font-size: 35px !important;
	cursor: pointer;
	margin-right: 15px;
}

.logo-menu{
	margin-top: -17px;
}

.menu-wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	z-index: 1025;
	cursor: auto;
}

.vertical-menu{
	margin-left: -280px; 
	width: 280px;
	position: absolute;
	background-color: white;
	height: 100%;
	top: 0;
	cursor: auto;

	-webkit-box-shadow: -15px 4px 16px 12px rgba(0,0,0,1);
	-moz-box-shadow: -15px 4px 16px 12px rgba(0,0,0,1);
	box-shadow: -15px 4px 16px 12px rgba(0,0,0,1);
}

.menu-wrap .nav-header{
	background-color: #666;
	height: 180px;
	width: 280px;
	color: white;
}

.hideMenu{
	width: 30px;
	height: 30px;
	/*background-color: red;*/
	font-size: 30px;
	color: #0033a0;
	position: absolute;
	top: 0px;
	right: 5px;
}

*:focus { outline: none; }

.nav{
	width: 280px;
	background-color: white;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
}

.nav .fa{
	font-size: 16px;
	color: black;
}

.nav li:first-child{
	margin-top: 10px; 
}

.nav li{
	padding: 6px 12px;
	cursor: pointer;
	height: 35px;
	color: #333;
}

.nav li:hover{
	background-color: #f4f4f4;
}

.img-tec-negro{
	position: absolute;
	width: 280px;
	text-align: center;
	bottom: 10px;
}

.dashboar-page{
	background-color: #e6ecf0 !important;
}

.pnl-square{
	border-radius: 0px !important;
	position: fixed;
	width: 270px;
	/*text-shadow: none;*/
	box-shadow: none;
	z-index: 1020;
	left: 14%;
	/*margin-left: -10px;*/
}

.pnl-enlaces .panel-body{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.03);
	/*font-family: inherit;*/
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 12px;
	padding: 0px;
}

.pnl-titulo{
	margin-bottom: 7px;
	font-size: 14px;
}

.data-text{
	width: 100%;
	font-size: 12px;
}

.table-text{
	padding: 0 !important;
}

.pnl-social{
	width: 100%;
	background-color: #fff;
	height: 50px;
	overflow: hidden; 
	margin-top: 29px;
}

.ico-social{
	font-size: 20px !important;
}

.pnl-search{
	border-radius: 3px;
	border: 1px solid #999;
	padding: 3px;
}

.pnl-search input{
	background-color: transparent;
	border:none;
	width: 200px;
	color: #333;
	margin-left: 5px;
}

.no-resultados{
	color: black;
}

.no-resultados span{
	font-size: 30px;
}

.form-control-search{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 3px;
	padding-left: 5px;
	color: #333; 
}

.btn-buscar{
	width: 100%;
	margin-top: 20px; 
}

.catego{
	font-size: 12px;
	list-style-type: none;
}

.catego li{
	height: 25px;
	padding: 10px 0;
}

.catego li a{
	font-weight: bold;
	color: #333;
	height: 25px;
	padding: 10px 0;
}

.catego li a.active{
	color: #0434bf;
}

.panel-body a{
	color: black;
	font-family: 'Raleway', sans-serif;
}

.bth-header{
	margin-top: -1px;
	font-size: 12px;
	color: white;
}

.bth-header:hover{
	color: #ffffff;
}

.loading{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	z-index: 1026;
	position: absolute;
}

.pnl-enlaces .panel-body{
	padding-right: 0px;
	padding-left: 0px;
}