<div class="panel-body" ng-repeat="not in Noticias.data | filter: search | startFrom:currentPage*pageSize | limitTo:pageSize">
	<div class="col-sm-12 pnl-titulo">
			<div> <img src="https://www.google.com/s2/favicons?domain=www.youtube.com" width="12"> <small>www.youtube1.com</small></div>
		<b ng-bind-html="not.not_titulo"></b>
	</div>
	
    <div class="col-sm-4">
		<img src="http://griant.mx/calculadora/{{not.not_imagen}}" width="100%">
    </div>
    <div class="col-sm-8">
    	<div ng-bind-html="not.not_contenido"></div>
    	<div class="data-text">
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>
    		<div>
    			<b>Campo 2</b> <span>Valor 1</span>
    		</div>

    	</div>
    </div>
    <div class="pnl-social">
    	<table width="100%" border="0">
    		<tr>
    			<td width="40" align="center">
    				<i class="fa fa-star-o ico-social" aria-hidden="true"></i>
    			</td>
    			<td width="50">0</td>

    			<td width="10">&nbsp;</td>

				<td width="40" align="center">
					<i class="fa fa-eye ico-social" aria-hidden="true"></i>
				</td>
    			<td width="50">0</td>

    			<td></td>
    			
				<td width="40">
					<i class="fa fa-bookmark-o ico-social" style="cursor: pointer;" aria-hidden="true"></i>
				</td>
    		</tr>
    	</table>
    </div>
</div>


<div class="panel-body" ng-repeat="not in Noticias.data | filter: search | startFrom:currentPage*pageSize | limitTo:pageSize">
    <div class="col-sm-12 pnl-titulo">
            <div> <img src="https://www.google.com/s2/favicons?domain=www.facebook.com" width="12"> <small>www.facebook.com</small></div>
        <b ng-bind-html="not.not_titulo"></b>
    </div>
    
    <div class="col-sm-12">
        <div ng-bind-html="not.not_contenido"></div>
        <div class="data-text">
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>
            <div>
                <b>Campo 1</b> <span>Valor 1</span>
            </div>

        </div>
    </div>
    <div class="pnl-social">
        <table width="100%" border="0">
            <tr>
                <td width="40" align="center">
                    <i class="fa fa-star-o ico-social" aria-hidden="true"></i>
                </td>
                <td width="50">0</td>

                <td width="10">&nbsp;</td>

                <td width="40" align="center">
                    <i class="fa fa-eye ico-social" aria-hidden="true"></i>
                </td>
                <td width="50">0</td>

                <td></td>
                
                <td width="40">
                    <i class="fa fa-bookmark-o ico-social" style="cursor: pointer;" aria-hidden="true"></i>
                </td>
            </tr>
        </table>
    </div>
</div>