<div ng-init="init();">
    <div class=container>
    	<div class="pnl-perfil">
    		<div class="col-sm-12">
	    		<!-- <h1 class="pull-left">Enlaces</h1> -->

	    		<!-- <button class="btn btn-success pull-right" ng-click="openNewNews();">
	    			Agregar noticia <i class="fa fa-plus-circle"></i>
	    		</button>
    			
    			<div class="pull-right" style="width: 250px; margin-right: 10px;">
    				<input type="" name="" placeholder="Buscar" class="form-control" ng-model="search">
    			</div> -->
    		</div>


    		<div class="panel pnl-square">
				<div>
					<div class="panel-body">
						<div class="frm-search">
							<div class="pnl-search">
								<i class="fa fa-search"></i>
								<input type="" name="" placeholder="Escribe algo" ng-model="busquedaGeneral" ng-keyup="keyEnter($event)">
							</div>

							<div class="no-resultados">
								<span class="panel-title">{{ contentLinks }}</span><small><i>Resultado</i><i ng-hide="contentLinks == 1">s<i/></small>
							</div>
							<br>

							<div class="text-center filtros-control more-filter" ng-click="filtrosControl(1)"><small>Más filtros<br></small>﹀</div>


							<div style="display: none;" class="filters">
								<label><small>Categoría</small></label>
								<select class="form-control-search" ng-change="temaByIdCat( busqueda.idCategoria )" ng-model="busqueda.idCategoria">
									<option value="0" selected="">Todas</option>
									<option ng-repeat="(key, cat) in categorias" value="{{cat.idCategoria}}">{{ cat.categoria }}</option>
								</select>

								<label><small>Tema</small></label>
								<select class="form-control-search" ng-model="busqueda.idTema">
									<option value="0" selected="">Todas</option>
									<option ng-repeat="(key, tem) in temas" value="{{tem.idTema}}">{{ tem.tema }}</option>
								</select>

								<label><small>Título</small></label>
								<input type="" class="form-control-search" name="" ng-model="busqueda.titulo">

								<label><small>Descripción</small></label>
								<input type="" class="form-control-search" name="" ng-model="busqueda.descripcion">

								<label><small>Palabras Clave</small></label>
								<input type="" class="form-control-search" name="" ng-model="busqueda.clave">

								<label><small>Idioma</small></label>
								<select class="form-control-search" ng-model="busqueda.idIdioma">
									<option value="0" selected="">Todas</option>
									<option ng-repeat="(key, idi) in idiomas" value="{{idi.idIdioma}}">{{ idi.idioma }}</option>
								</select>

								<div class="text-center filtros-control" ng-click="filtrosControl(2)"> ︿<small><br>Menos filtros</small> </div>
							</div>

							<button class="btn btn-success btn-sm btn-buscar" ng-click="enlacesTodas()">Buscar</button>
						</div>
					</div>

				</div>
			</div>


    		<div class="col-sm-12">
    			<div class="row">
	    			<div class="col-sm-1"></div>
	    			<div class="col-sm-3">
	    				
	    			</div>

	    			<div class="col-sm-6">
			    		<!-- <div class="panel panel-default" ng-repeat="not in Noticias.data | filter: search"> -->
			    		<div ng-show="contentLinks != 0" class="panel panel-default pnl-enlaces">		
							<div class="panel-heading">
						    	<h3 class="panel-title">resultado de la búsqueda</h3>
						  	</div>

						  	<div>
						  		<div class="panel-body" ng-repeat="enlace in Enlaces | filter: search" >
									<div class="col-sm-12 pnl-titulo">
										<div> <img src="https://www.google.com/s2/favicons?domain={{enlace.fuente}}" width="12"> <small>{{enlace.fuente}}</small></div>
										<a href="{{enlace.URL}}" target="_blank">
											<b ng-bind-html="enlace.titulo"></b>
										</a>
									</div>
									
								    <div class="col-sm-12">
								    	<table>
								    		<tr>
								    			<td valign="top">
								    				<!-- Imagen si la fuente es YouTube -->
								    				<a href="{{enlace.URL}}" target="_blank">
									    				<img ng-show = "enlace.idFuente == 1" src="https://img.youtube.com/vi/{{enlace.URL.split('/').pop()}}/default.jpg" width="100" style="border-radius: 5px;">
									    			</a>
								    			</td>
								    			<td valign="top" style="padding-left: 5px;">
								    				<div style="float: left;" ng-bind-html="enlace.descripcion"></div>
											    	<div class="data-text" style="display: none;">
											    		<div>
											    			<b>Campo 2</b> <span>{{enlace.URL.split('/').pop()}}</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    		<div>
											    			<b>Campo 2</b> <span>Valor 1</span>
											    		</div>
											    	</div>
								    			</td>
								    		</tr>
								    	</table>
								    </div>
								    <div class="pnl-social">
								    	<table width="100%" border="0">
								    		<tr>
								    			<td width="40" align="center">
								    				<i class="fa fa-star-o ico-social" aria-hidden="true"></i>
								    			</td>
								    			<td width="50">0</td>

								    			<td width="10">&nbsp;</td>

												<td width="40" align="center">
													<i class="fa fa-eye ico-social" aria-hidden="true"></i>
												</td>
								    			<td width="50">0</td>

								    			<td></td>
								    			
												<td width="40">
													<i class="fa fa-bookmark-o ico-social" style="cursor: pointer;" aria-hidden="true"></i>
												</td>
								    		</tr>
								    	</table>
								    </div>
								</div>
							</div>
						  	<!-- aqui termina -->						  	
	    				</div>

	    				<div class="row">
							<div class="col-sm-3" ng-show="contentLinks == 0"></div>
				    		<div class="col-sm-9" ng-show="contentLinks == 0">
				    			<center>
				    				<br><br><br><br>
				    				<i class="fa fa-flag" aria-hidden="true" style="font-size: 100px; color: #eee;"></i>
				    				<p><small>Introduce tus parametros de búsqueda</small></p>
				    			</center>
				    		</div>
						</div>
    				</div>
				</div>

				
    		</div>

    		<div class="col-sm-12 hidden" >
    			<div class="pull-right">
	    			<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
				        Anterior
				    </button>
				    {{currentPage+1}}/{{numberOfPages()}}
				    <button class="btn btn-default" ng-disabled="currentPage >= Noticias.data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
				        Siguiente
				    </button>
			    </div>
    		</div>

    		<!-- <div class="col-sm-12"> <br><br><br><br> </div> -->

    	</div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevaNoticia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<form ng-submit="guardarNoticia();" name="frmNoticia" id="frmNoticia">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">Nueva Noticia</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row">
		            	<div class="col-sm-12">
		            		
		            		<label><small>Título</small></label>
		            		<input name="not_titulo" type="text" class="form-control" ng-model="frmNoticia.not_titulo">

		            		<label><small>Sub título</small></label>
		            		<input name="not_subtitulo" type="text" class="form-control" ng-model="frmNoticia.not_subtitulo">

		            		<label><small>Cuerpo</small></label>
							<div name="not_contenido" ckeditor="options" ng-model="frmNoticia.not_contenido" ready="onReady()"></div>

		            		<label><small>Link</small></label>
		            		<input name="not_url" type="text" class="form-control" ng-model="frmNoticia.not_url">

		            		<label><small>Imagen</small></label>
		            		<input name="not_imagen" type="file" class="form-control" ng-model="frmNoticia.not_imagen">
		            		
		            	</div>
	            	</div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	                <button type="submit" class="btn btn-danger">Guardar Noticia</button>
	            </div>
	        </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditarNoticia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<form ng-submit="editarNoticia();" name="frmNoticiaEditar" id="frmNoticiaEditar">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">Editar Noticia</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row">
		            	<div class="col-sm-12">
		            		<input name="not_titulo" type="hidden" class="form-control" ng-model="frmNoticia.idNoticia">
		            		
		            		<label><small>Título</small></label>
		            		<input name="not_titulo" type="text" class="form-control" ng-model="frmNoticia.not_titulo">

		            		<label><small>Sub título</small></label>
		            		<input name="not_subtitulo" type="text" class="form-control" ng-model="frmNoticia.not_subtitulo">

		            		<label><small>Cuerpo</small></label>
							<div name="not_contenido" ckeditor="options" ng-model="frmNoticia.not_contenido" ready="onReady()"></div>

		            		<label><small>Link</small></label>
		            		<input name="not_url" type="text" class="form-control" ng-model="frmNoticia.not_url">

		            		<label><small>Imagen</small></label>
		            		<input name="not_imagen" type="file" class="form-control" ng-model="frmNoticia.not_imagen">
		            	</div>
	            	</div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	                <button type="submit" class="btn btn-danger">Actualizar Noticia</button>
	            </div>
	        </form>
        </div>
    </div>
</div>