<div class="panel-body">
	<div class="frm-search">
		<div class="pnl-search">
			<i class="fa fa-search"></i>
			<input type="" name="" placeholder="Escribe algo">
		</div>

		<div class="no-resultados">
			<span class="panel-title">319</span><small>Resultados</small>
		</div>
		<br>
		<label><small>Categoría</small></label>
		<select class="form-control-search">
			<option>Todos</option>
		</select>

		<label><small>Materia</small></label>
		<input type="" class="form-control-search" name="">

		<label><small>Tema</small></label>
		<input type="" class="form-control-search" name="">

		<label><small>Título</small></label>
		<input type="" class="form-control-search" name="">

		<label><small>Palabras Clave</small></label>
		<input type="" class="form-control-search" name="">

		<button class="btn btn-success btn-sm btn-buscar">Buscar</button>
	</div>
</div>